<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SoundCode</title>
        <link rel="stylesheet" type="text/css" href="styles/login.css">
    </head>
    <body>
        <div id="background">
            <div id="title">
                <img src="image/soundcode.png"></div>
            <div id="login">
                <form action="/" method="GET" class="joinForm">
                    <h2>로그인</h2>
                    <div class="textForm">
                      <input name="loginId" type="text" class="reg" placeholder="아이디">
                      </input>
                    </div>
                    <div class="textForm">
                      <input name="loginPw" type="password" class="reg" placeholder="비밀번호">
                    </div>
                    <input type="submit" class="btn" value="로그인"/>
                  </form>
            </div>
        </div>
    </body>
</html>