<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SoundCode</title>
        <link rel="stylesheet" type="text/css" href="styles/main.css">
        <link rel="stylesheet" type="text/css" href="styles/login.css">
        <link rel="stylesheet"  type="text/css" href="styles/nav.css">
    </head>
    <body>
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/register">회원가입</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/security">2차인증</a>
            </li>
        </ul>
        <div class="main_page">
            <div class="main_logo">
                <img src="image/soundcode.png"class="main_image">
            </div>

            <form method="POST" class="joinForm">
                <h2>로그인</h2>
                <div class="textForm">
                    <input name="loginId" type="text" class="reg" placeholder="아이디" required>
                    </input>
                </div>
                <div class="textForm">
                    <input name="loginPw" type="password" class="reg" placeholder="비밀번호" required>
                </div>
                <input type="submit" class="btn" value="로그인"/>
            </form>
        </div>

    </div>
    </body>
</html>