<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SoundCode</title>
        <link rel="stylesheet" type="text/css" href="styles/main.css">
        <link rel="stylesheet"  type="text/css" href="styles/register.css">
        <link rel="stylesheet"  type="text/css" href="styles/nav.css">
    </head>
    <body>
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/register">회원가입</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/security">2차인증</a>
            </li>
        </ul>
        <div class="main_page">
            <div class="main_logo">
                <img src="image/soundcode.png"class="main_image">
            </div>

            <form method="POST" class="joinForm">
                <h2>회원가입</h2>
                <div class="textForm">
                    <input name="loginId" type="text" class="reg" placeholder="아이디" value="chang">
                </div>
                <div class="textForm">
                    <input name="loginPw" type="password" class="reg" placeholder="비밀번호">
                </div>
                <div class="textForm">
                    <input name="loginPwConfirm" type="password" class="reg" placeholder="비밀번호 확인">
                </div>
                <div class="textForm">
                    <input name="name" type="text" class="reg" placeholder="이름">
                </div>
                <div class="textForm">
                    <input name="phoneNumber" type="number" class="reg" placeholder="전화번호">
                </div>

                <div class="test_text">녹음을 위한 다음 문자열 을 읽어 주세요!<br>
                    <span id="text">
                    동해물과 백두산이 마르고 닳도록<br>
                    하느님이 보우하사 우리나라 만세
                    </span></div>
                <div class="record">
                    <div id="controls">
                        <button class="control_btn" id="recordButton">Record</button>
                        <button class="control_btn" id="stopButton" disabled>Stop</button>
                    </div>
                    <div id="formats">Record 버튼을 누르고 위 텍스트를 녹음한 뒤 stop을 누르세요!</div>
                    <div id="recordingsList"></div>
                    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
                    <!--                <button type="button" id="submitButton" onclick="location.href='http://localhost:8080/test?name=chang'">submit</button>-->

                </div>
                <input type="submit" class="btn" id="submitButton" value="회원가입"/>
            </form>
        </div>

    </div>
    <script src="js/recorder.js"></script>
    <script src="js/appRegister.js"></script>
    </body>
</html>


<!--그 회원가입시 음성이랑 확인 음성이랑 같게 할건가???-->