<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>security</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/security.css">
</head>
<body>
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/register">회원가입</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/security">2차인증</a>
            </li>
        </ul>
        <div class="main_page">
            <div class="main_logo">
                <img src="image/soundcode.png">
            </div>
            <div class="record">
                <h1>2차 인증 서비스</h1>
                <div id="controls">
                    <button id="recordButton">Record</button>
                    <button id="pauseButton" disabled>Pause</button>
                    <button id="stopButton" disabled>Stop</button>
                </div>
                <div id="formats">Record 버튼을 누르고 아래 텍스트를 녹음한 뒤 stop을 누르고 upload 버튼을 누르시오!</div>
                <p><strong>암호 : 안녕하세요! 감자 고구마 테스트 입니다</strong></p>
                <ol id="recordingsList"></ol>
                <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
                <button type="button" id="submitButton" onclick="location.href='http://localhost:8080/test?name=chang'">submit</button>

            </div>

        </div>

    </div>

    <script src="js/recorder.js"></script>
    <script src="js/app.js"></script>
</body>
</html>