body {
    margin: 0;
}
a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: center;
}
.main_image {
    width: 40rem;
    height: 30rem;
    display: block;
    border-radius: 15px;
}

.main_logo {
    margin: 5rem 5rem;
}

.main_page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#formats{
    margin-top: 5px;
    font-size: 0.8rem;
    margin-bottom: 10px;
}