@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
.container{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.nav-item {
    padding: 15px;
    cursor: pointer;
    border-radius: 15px;
    vertical-align: middle;
    font-family: 'Nanum Gothic', sans-serif;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
    bottom: 0;
    background-color: #337ab7;
    list-style-type: none;
    vertical-align: middle;
    justify-content: center;
}
.nav-item:hover{
    background-color:gainsboro;
}
li {
    list-style: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}